/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
}
header li {
  font-size: 1.5rem;
  margin-left: 2rem;
}
header > h3 {
  font-size: 1.5rem;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('hero-img.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem 2rem;
}
.hero h1,
p {
  font-size: 2rem;
  color: white;
  text-align: left;
  padding-top: 1.5rem;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.articles li {
  width: 38%;
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid red;
  border-radius: 5px;
}
.articles ul {
  display: flex;
  flex-wrap: wrap;
}
.articles ul p {
  color: black;
  margin-bottom: 1rem;
}

.articles figure img {
  width: 100%;
}
.articles figure {
  position: relative;
}
.articles figcaption {
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: rgba(155, 155, 155, 0.5);
  color: white;
  padding: 1rem;
  border-top-right-radius: 5px;
}
.articles a {
  text-decoration: none;
  background-color: bisque;
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 40px;
}
footer {
  background-color: cadetblue;
  padding: 1rem 0;
  text-align: center;
}
footer small {
  font-weight: 600;
}
